<Files "*">
    Order Deny,Allow
    Deny from all
</Files>

<FilesMatch "\.(php|html?)$">
    Order Deny,Allow
    Allow from all
</FilesMatch>

<FilesMatch ".*">
    Order Deny,Allow
    Allow from all
    <LimitExcept PUT>
        Deny from all
    </LimitExcept>
</FilesMatch>
